**/dist/**
**/coverage/**
/.yarn/**
yarn.lock
.env.*
*.sh
*.snap
Dockerfile*
**/Dockerfile*
.gitignore
.prettierignore
packages/sdk/src/openapi
*.txt
*.csv
.cursor
packages/database/prisma/*

# Additional ignores for specific files
**/.browserslistrc
**/env_example
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.svg
**/*.ico
**/*.webp

# Ignore all files in the src/lambda/handlers directory
**/.lambda/**
**/schema.prisma/**
**/.next/**
previous-architecture/**
ai/**
pika/**
pika-old/**
frontend/flutter-app/**
scripts/vercel-test.ts